## JavaScript
node_modules/

## Python
__pycache__/

## Local development environment
.venv/
.vscode/
.env

## Dummy data
.dummy/

## etc
aws/
migrations/
seeders/

.sequelizerc
.prettierrc
.eslintrc.json
