.cctvModal-form {
  display: flex;
  width: 400px;
  flex-direction: column;

  .cctv_mac-alert {
    color: red;
    font-size: 0.75rem;
    padding: 0 10px;
  }
  .MuiFormControl-root {
    margin: 10px;
  }
  .MuiSelect-select:focus {
    background-color: white;
  }
}
.cctvModal-delete {
  font-size: 1rem;
  font-weight: 400;

  span {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.cctvModal-button {
  display: flex;
  justify-content: center;

  & > button:first-child {
    margin-right: 30px;
  }
}

.search-cdrCenter {
  margin: 0 10px !important;
}
