.logout-checkModal {
  div {
    display: flex;
    justify-content: space-around;
    color: white;

    button {
      padding: 8px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
    }
    .confirm-btn {
      background-color: #2980b9;
    }
    .cancel-btn {
      background-color: #e74c3c;
    }
  }
}
