.tablePagination {
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #0099ff;
      border: none;
      color: white;
    }

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
  .currentPage {
    background-color: #0099ff;
    border: none;
    color: white;
  }
}
