.updateLogin-form {
  display: flex;
  flex-direction: column;
  width: 400px;

  .MuiFormControl-root {
    margin: 10px;
  }

  .MuiInput-underline.Mui-disabled:before {
    border-bottom-style: solid !important;
  }

  .updateUserForm-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button:first-child {
      margin-right: 30px;
    }
  }
}
