.cctvs {
  min-width: 1400px;

  .cctvs-section {
    min-width: 100%;
    padding: 10px;
    height: 100vh;
    overflow: auto;
  }
  .cctvs-menu {
    width: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    button {
      background-color: white;
      font-weight: 600;
    }
  }
  .table tbody td,
  .table tbody tr {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:nth-child(2) {
      max-width: 200px;
    }
    &:nth-child(3) {
      max-width: 200px;
    }
    &:nth-child(4) {
      max-width: 300px;
    }
  }
}
