.home {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 440px 1fr;
  grid-gap: 20px;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/3;
    padding: 20px 20px;

    .header-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div:nth-child(2) {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 20px;
      }
    }
  }
  .chart-section {
    position: relative;
    height: 27.5rem;

    .chart-title {
      background-color: #f2f6f7;
      padding: 10px;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
    }
    .chart {
      position: absolute;
      width: 100%;
      height: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .log-section {
    grid-column: 1/3;
    padding: 10px;
    overflow: auto;
    position: relative;

    .loading-container {
      position: absolute;
      top: 40%;
      left: 50%;
    }

    .table {
      height: 360px;

      thead th,
      tbody td {
        &:nth-child(2) {
          max-width: 220px;
          width: 220px;
        }
        &:nth-child(3) {
          width: 200px;
        }
        &:nth-child(4) {
          width: 300px;
        }
        &:nth-child(5) {
          min-width: 100px;
          max-width: 200px;
        }
      }
    }
  }
}
