.logs {
  min-width: 1000px;

  .logs-menu {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: -2px;

    button {
      background-color: white;
      font-weight: 600;
    }
  }
  .section-title {
    font-size: 1.25rem;
    font-weight: 600;

    .timer {
      font-size: 0.9rem;
      font-weight: 400;
      margin-right: 10px;
    }
  }
  .newLogs-section {
    padding: 20px;
    height: 420px;
    position: relative;

    .loading-container {
      position: absolute;
      top: 40%;
      left: 50%;
    }
  }
  .entireLogs-section {
    margin-top: 10px;
    padding: 20px;
    height: 420px;
    position: relative;

    .loading-container {
      position: absolute;
      top: 40%;
      left: 50%;
    }
  }

  .table {
    height: 360px;

    thead th,
    tbody td {
      &:nth-child(2) {
        max-width: 220px;
        width: 220px;
      }
      &:nth-child(3) {
        width: 200px;
      }
      &:nth-child(4) {
        width: 300px;
      }
      &:nth-child(5) {
        max-width: 200px;
      }
    }
  }
  .tablePagination {
    ul {
      margin: 4px 0;
    }
  }
}
