.monitoring {
  display: grid;
  grid-template-rows: 830px;
  grid-template-columns: 800px 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;

  @media screen and (max-width: 1400px) {
    grid-template-rows: 830px 1fr;
    grid-template-columns: 800px;
  }

  .map-section {
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .select-section {
    padding: 30px 20px;

    h1 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 30px;
    }
    #select-district {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 40px;
      margin: 30px 0;
      margin-bottom: 50px;
    }
    #select-cdrCenter {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 40px;
      margin: 30px 0;

      .cdrCenter-info:nth-child(3) {
        grid-column: 1 / 3;
      }
    }
    .Mui-disabled {
      color: black;
    }
    .cdrcenter-link {
      display: flex;
      grid-column: 1 / 3;

      svg {
        margin-left: 5px;
      }
    }
    #select-anomaly {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px 40px;
      margin: 30px 0;
    }
  }
}
