/* font */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

/* config */
@import "config/reset.scss";
@import "config/variable";

/* pages */
@import "pages/pages";

/* components */
@import "components/sideBar";
@import "components/mapbox";

* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Nanum Gothic", sans-serif;
}
