@keyframes modal-sliding {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-section {
    padding: 30px 20px;
    background-color: white;
    position: fixed;
    border-radius: 10px;
    animation: modal-sliding 0.4s ease-in-out;

    .modal-title {
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
