name: Lint Action - PY

on: [push, pull_request]

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      # Python Lint
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: pip install black flake8

      # Flake8 and Black
      - name: Run Python linters
        uses: wearerequired/lint-action@v1
        with:
          black: true
          flake8: true
